.about {
  text-align: center;
  background-color: black;
  background-image: url('../img/about.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  height: 100vh;
}
