// Styling for the team section
.team-member {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid $white;
  }
  p {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
