// Styling for the masthead
.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size:100% 100%;
  @include background-cover;
  .intro {
    margin: 0 auto;
    width: auto;
    height: inherit;
    background-color:white;
    opacity: 0.90;
    .row {
      margin-left: 40px;
      margin-right: 0px;
    }
    .contact {
      text-align: left;
      ul {
        color: #000;
        li {
          a {
            color: #000;
            text-decoration: none;
            &.active,
            &:hover {
              color: darken($primary, 10%);
            }
          }
          margin: 15px 0;
        }
      }
    }
    .intro-text {
      padding-top: 20px;
      padding-bottom: 0px;
      color: black;
    }
  }
}

@media(max-width: 1300px) {
  .masthead {
    .intro {
      .row {
        margin-left: 0px;
        margin-right: 0px;
      }
      margin-top: 30px;
      .profile {
        margin: 0 auto;
      }
      .contact {
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
        ul {
          margin-left: 0px;
          margin-bottom: 0px;
        }
      }
      .intro-text {
        font-size: 12px;
      }
    }
  }
}

@media(max-width:475px) {
  .masthead {
    .intro {
      .row {
        margin-left: 0px;
        margin-right: 0px;
      }
      margin-top: 30px;
      .profile {
        .img-responsive {
          width: 160px;
        }
        margin: 0 auto;
      }
      .contact {
        display: none;
        ul {
          margin-left: 0px;
          margin-bottom: 0px;
        }
      }
      .intro-text {
        font-size: 12px;
        padding-top: 0px;
      }
    }
  }  
}


